<!DOCTYPE html>
<html lang="en">

<head>
  <title>Finance-tracker</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="script.js"></script>
</head>

<body style="background-image: url(images/img2.avif);background-repeat: no-repeat;background-size: cover;">

  <section>
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" id="app" v-cloak>
      <div class="container">
        <div class="row d-flex justify-content-center align-items-center">

          <div class="col-lg-6 mb-5 mb-lg-0 text-light">
            <div class="card" style="background-color: rgba(0, 0, 0, 0.726);">
              <div class="card-body py-5 px-md-5">


                <form>

                  <!-- 2 column grid layout with text inputs for the first and last names -->
                  <div class="text-light text-center mb-5">
                    <h3>Register Now</h3>
                    <p>Join us today and discover new possibilities!</p>
                  </div>
                  <div v-show="errorMessage" class="alert alert-danger my-3 d-none" role="alert">
                    {{errorMessage}}
                  </div>
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div>
                        <input v-model="firstName" type="text" class="form-control" placeholder="First name">
                        <label class="form-label text-light">First name</label>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div>
                        <input v-model="lastName" type="text" class="form-control" placeholder="Last name">
                        <label class="form-label text-light">Last name</label>
                      </div>
                    </div>
                  </div>

                  <!-- Email input -->
                  <div class="form-outline mb-4">
                    <input v-model="email" type="email" class="form-control" placeholder="Email address">
                    <label class="form-label text-light">Email address</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input v-model="date" type="date" class="form-control bg-light">
                    <label class="form-label text-light">Date</label>
                  </div>

                  <div class=" mb-4">
                    <input v-model="password" type="password" class="form-control" placeholder="Enter password">
                    <label class="form-label text-light">Password</label>
                  </div>

                  <div class=" mb-4">
                    <input v-model="confirmPassword" type="password" class="form-control"
                      placeholder="confirmPassword ">
                    <label class="form-label text-light">Password</label>
                  </div>


                  <!-- Submit button -->
                  <button v-on:click="signup()" class="btn btn-primary btn-block mb-3" type="button">
                    Signup
                  </button>


                  <!-- Register buttons -->
                  <div class="text-center">
                    <a href="login.html" class="text-light">or login:</a>
                    <button type="button" class="btn  btn-floating mx-1">
                    </button>

                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>

  const app = Vue.createApp({
    data() {
      return {
        firstName: "",
        lastName: "",
        email: "",
        password: "",
        date: "",
        confirmPassword: "",
        errorMessage: ""
      }
    },


    methods: {
      signup() {

        if (this.firstName.trim().length === 0) {
          this.errorMessage = 'Please enter your firstname!';
        }
        else if (this.lastName.trim().length === 0) {
          this.errorMessage = "Please enter your lastname!";
        }

        else if (this.email.trim().length === 0) {
          this.errorMessage = "No email entered!";
        }

        else if (this.date.trim().length === 0) {
          this.errorMessage = "Please enter your date of birth";
        }

        else if (this.password.trim().length === 0) {
          this.errorMessage = "Please enter password";
        }

        else if (this.confirmPassword.trim() === 0) {
          this.errorMessage = "Please confirm your password!";
        } else if (this.password !== this.confirmPassword) {
          this.errorMessage = "Confirm password not equal to password";
        }
        else {
          const user = {
            first_name: this.firstName,
            last_name: this.lastName,
            email: this.email,
            dob: this.date,
            password: this.password,
          }

          const userSaved = saveUser(user);
          if (userSaved) {
            this.errorMessage = "Account successfully created, redirecting you to login";
            setTimeout(() => {
              window.location.href = "login.html"
            }, 3000)
          }
        }
      }

     }
  });
  app.mount('#app');
  function saveUser(user) {
        const users = loadUsers();

        // check if inside users array there is user with the same email.
        const userExists = users.some((eachUser) => eachUser.email === this.email);

        if (!userExists) {
          users.push(user);
          const usersJson = JSON.stringify(users);
          localStorage.setItem("users", usersJson);

          return true;
        }
        else {
          this.errorMessage = "Account with the same email already exists";
          return false;
        }

      }
   
</script>

</html>